[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

hammock = "*"
marshmallow = "*"
pytest = "*"


[dev-packages]

sphinx = "*"
sphinx-autobuild = "*"


[requires]

python_version = "3.6"
